In [ ]:
import pandas as pd
from sqlalchemy import create_engine, MetaData, Table, text, select
from sqlalchemy.dialects.postgresql import insert as pg_insert
from datetime import datetime

In [ ]:
# 1. Konfigurasi koneksi ke Supabase (PostgreSQL)
# Ganti <user>, <password>, <host>, <port>, dan <dbname> sesuai milikmu
DATABASE_URL = "postgresql://postgres.icrhhezhmudmobtztsat:Dani159901@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres"
engine = create_engine(DATABASE_URL)

try:
    with engine.connect() as conn:
        result = conn.execute(text("SELECT NOW();"))
        now = result.fetchone()[0]
        print("Connected! Server time:", now)
except Exception as e:
    print("Connection failed:", e)

Connected! Server time: 2025-06-19 17:17:05.296753+00:00

In [ ]:
# 2. Baca CSV ke DataFrame
df = pd.read_csv('/content/HotelBookings_cleaned - HotelBookings_cleaned.xls.csv')
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,total_stay_nights,total_guests,arrival_month_num
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,Transient,0.00,0,0,Check-Out,2015-07-01,0,2.0,7
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,Transient,0.00,0,0,Check-Out,2015-07-01,0,2.0,7
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,Transient,75.00,0,0,Check-Out,2015-07-02,1,1.0,7
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,Transient,75.00,0,0,Check-Out,2015-07-02,1,1.0,7
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,Transient,98.00,0,1,Check-Out,2015-07-03,2,2.0,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,Transient,96.14,0,0,Check-Out,2017-09-06,7,2.0,8
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,Transient,225.43,0,2,Check-Out,2017-09-07,7,3.0,8
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,Transient,157.71,0,4,Check-Out,2017-09-07,7,2.0,8
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,Transient,104.40,0,0,Check-Out,2017-09-07,7,2.0,8
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,Transient,151.20,0,2,Check-Out,2017-09-07,9,2.0,8

In [ ]:
# 3. Preprocessing kolom
df['arrival_date'] = pd.to_datetime(dict(
    year=df['arrival_date_year'],
    month=df['arrival_month_num'],
    day=df['arrival_date_day_of_month']
)).dt.date
df['status_date'] = pd.to_datetime(df['reservation_status_date']).dt.date
df['total_stay_nights'] = df['stays_in_weekend_nights'] + df['stays_in_week_nights']
df['total_guests'] = df['adults'] + df['children'] + df['babies']
df['revenue'] = df['adr'] * df['total_stay_nights']

In [ ]:
def etl_dim_date(conn, df, metadata):
    print('mulai etl woi tabel dim date')
    """Upsert ke dim_date dari unique arrival_date & status_date."""
    dim_date = metadata.tables['dim_date']
    unique_dates = set(df['arrival_date']).union(df['status_date'])
    for d in unique_dates:
        rec = {
            'date_key':      d,
            'year':          d.year,
            'quarter':       (d.month - 1) // 3 + 1,
            'month':         d.month,
            'month_name':    d.strftime('%B'),
            'week_of_year':  d.isocalendar()[1],
            'day_of_month':  d.day,
            'day_of_week':   d.strftime('%A'),
            'season': (
                'Peak' if d.month in [12,1,2,6,7,8]
                else 'Shoulder' if d.month in [3,4,5]
                else 'Low'
            )
        }
        stmt = pg_insert(dim_date).values(rec) \
            .on_conflict_do_nothing(index_elements=['date_key'])
        conn.execute(stmt)
    print('selesai etl woi tabel dim date')

In [ ]:

def etl_dim_generic(conn, df, metadata, table_name, col_name):
    print('mulai etl woi tabel dim generic')
    """Upsert ke dimension generic berdasarkan satu kolom."""
    dim = metadata.tables[table_name]
    for val in df[col_name].dropna().unique():
        stmt = pg_insert(dim).values({col_name: val}) \
            .on_conflict_do_nothing(index_elements=[col_name])
        conn.execute(stmt)
    print('seelsai etl woi tabel dim generic')

In [ ]:

def load_surrogate_maps(conn, metadata):
    print('mulai etl woi tabel dim hotel dkk')
    """
    Load mapping surrogate_key → value untuk semua dimension tables.
    Memperbaiki error tuple indexing dengan explicit SELECT dua kolom.
    """
    maps = {}
    for table_name in [
        'dim_hotel', 'dim_market_segment', 'dim_distribution_channel',
        'dim_meal', 'dim_deposit_type', 'dim_customer_type',
        'dim_country', 'dim_reservation_status'
    ]:
        tbl = metadata.tables[table_name]
        # Tentukan nama kolom key & value
        key_col = list(tbl.primary_key)[0].name
        # Asumsi kolom nilai adalah kolom pertama setelah primary key
        val_col = next(col.name for col in tbl.columns if col.name != key_col)

        # Buat SELECT explicit dua kolom
        stmt = select(tbl.c[val_col], tbl.c[key_col])
        rows = conn.execute(stmt).fetchall()

        # Bangun mapping {value: key}
        maps[table_name] = {val: key for val, key in rows}
    print('selesai etl woi tabel dim hotel dkk')
    return maps

In [ ]:
def etl_fact_booking(conn, df, metadata, maps):
    print('Mulai ETL tabel fact_booking dengan ON CONFLICT DO NOTHING.')
    """Insert ke fact_booking dengan upsert via PostgreSQL ON CONFLICT DO NOTHING."""
    fact = metadata.tables['fact_booking']
    records = []
    for _, row in df.iterrows():
        records.append({
            'arrival_date_key':            row['arrival_date'],
            'status_date_key':             row['status_date'],
            'hotel_key':                   maps['dim_hotel'].get(row['hotel']),
            'market_segment_key':          maps['dim_market_segment'].get(row['market_segment']),
            'dist_channel_key':            maps['dim_distribution_channel'].get(row['distribution_channel']),
            'meal_key':                    maps['dim_meal'].get(row['meal']),
            'deposit_type_key':            maps['dim_deposit_type'].get(row['deposit_type']),
            'cust_type_key':               maps['dim_customer_type'].get(row['customer_type']),
            'country_key':                 maps['dim_country'].get(row['country']),
            'res_status_key':              maps['dim_reservation_status'].get(row['reservation_status']),
            'is_canceled':                 row['is_canceled'],
            'lead_time':                   int(row['lead_time']),
            'stays_in_weekend_nights':     int(row['stays_in_weekend_nights']),
            'stays_in_week_nights':        int(row['stays_in_week_nights']),
            'total_stay_nights':           int(row['total_stay_nights']),
            'adults':                      int(row['adults']),
            'children':                    int(row['children']),
            'babies':                      int(row['babies']),
            'total_guests':                int(row['total_guests']),
            'previous_cancellations':      int(row['previous_cancellations']),
            'booking_changes':             int(row['booking_changes']),
            'required_car_parking_spaces': int(row['required_car_parking_spaces']),
            'total_of_special_requests':   int(row['total_of_special_requests']),
            'adr':                         float(row['adr']),
            'revenue':                     float(row['revenue'])
        })
    # Gunakan insert() dari dialect.postgresql untuk on_conflict
    stmt = pg_insert(fact).values(records)
    # Abaikan duplikat berdasarkan primary key (booking_sk) atau unique constraint
    stmt = stmt.on_conflict_do_nothing()
    conn.execute(stmt)
    print('Selesai ETL tabel fact_booking dengan ON CONFLICT DO NOTHING.')

In [ ]:
# ----------------------------------------------------------------------
#  Main ETL Flow
# ----------------------------------------------------------------------
def run_etl(csv_path):
    print('mulai run etl')
    # Baca dan preprocess
    df = pd.read_csv(csv_path)
    df['arrival_date'] = pd.to_datetime(dict(
        year=df['arrival_date_year'],
        month=df['arrival_month_num'],
        day=df['arrival_date_day_of_month']
    )).dt.date
    df['status_date'] = pd.to_datetime(df['reservation_status_date']).dt.date
    df['total_stay_nights'] = df['stays_in_weekend_nights'] + df['stays_in_week_nights']
    df['total_guests'] = df['adults'] + df['children'] + df['babies']
    df['revenue'] = df['adr'] * df['total_stay_nights']

    with engine.begin() as conn:
        metadata = MetaData()
        metadata.reflect(bind=conn)

        # ETL dims
        etl_dim_date(conn, df, metadata)
        dims = [
            ('dim_hotel', 'hotel'),
            ('dim_market_segment', 'market_segment'),
            ('dim_distribution_channel', 'distribution_channel'),
            ('dim_meal', 'meal'),
            ('dim_deposit_type', 'deposit_type'),
            ('dim_customer_type', 'customer_type'),
            ('dim_country', 'country'),
            ('dim_reservation_status', 'reservation_status')
        ]
        for table, col in dims:
            etl_dim_generic(conn, df, metadata, table, col)

        # Mapping surrogate keys
        maps = load_surrogate_maps(conn, metadata)

        # ETL fact
        etl_fact_booking(conn, df, metadata, maps)

    print("ETL selesai! Semua tabel public.dim_* & public.fact_booking ter-update.")

In [ ]:
# ----------------------------------------------------------------------
#  Execute
# ----------------------------------------------------------------------
if __name__ == "__main__":
    run_etl('/content/HotelBookings_cleaned - HotelBookings_cleaned.xls.csv')

mulai run etl
mulai etl woi tabel dim date
selesai etl woi tabel dim date
mulai etl woi tabel dim generic
seelsai etl woi tabel dim generic
mulai etl woi tabel dim generic
seelsai etl woi tabel dim generic
mulai etl woi tabel dim generic
seelsai etl woi tabel dim generic
mulai etl woi tabel dim generic
seelsai etl woi tabel dim generic
mulai etl woi tabel dim generic
seelsai etl woi tabel dim generic
mulai etl woi tabel dim generic
seelsai etl woi tabel dim generic
mulai etl woi tabel dim generic
seelsai etl woi tabel dim generic
mulai etl woi tabel dim generic
seelsai etl woi tabel dim generic
mulai etl woi tabel dim hotel dkk
selesai etl woi tabel dim hotel dkk
Mulai ETL tabel fact_booking dengan ON CONFLICT DO NOTHING.
Buffered data was truncated after reaching the output size limit.